.container {
    display: flex;
    justify-content: center;
    
}

.input {
    width: 377px;
    height: 60px;
    padding-right: 12px;
}

.button {
    height: 60px;
    margin-right: 12px;
}

.button__reset {
    margin-left: 80px;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    justify-content: center;
    column-gap: 16px;
    row-gap: 50px;
    margin-top: 78px;
}